html[dir = "ltr"]{
    .message {
        input {
            padding: 0 50px 0 25px;
        }
    }
}

footer{
    padding: 75px 0 40px 0;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    a:hover{
        text-decoration: none;
    }
    .footer-title{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 30px;
        text-transform: capitalize;
        color: #fff;
    }
}
html[dir="ltr"]{
    .footer-shape{
        position: absolute;
        top: 78px;
        right: -72px;
        z-index: 1;
        left: unset;
        transform: scaleX(-1);
    }
   
}
.quick-links {
ul li {
    line-height: 32px;
   a{
    font-size: 14px;
    color: #808080;
    font-weight: 400;
    text-align: right;
    text-transform: capitalize;
    transition: all linear .2s;
    &:hover{
        color: $main-color;
    }
   }
}
}
.quick-drop{
    display: flex;
    height: 150px;
    flex-direction: column;
    flex-wrap: wrap;
}
.contact ul {
    display: flex;
    flex-direction: column;
    li{
        margin: 0;
        padding: 0;
        margin-bottom: 13px;
        display: flex;
        align-items: flex-start;
        i{
            color: $main-color;
            text-align: center;
            font-size: 20px;
            text-align: center;
        }
        a{
            margin-inline-start: 15px;
            transition: all linear .3s;
            font-size: 14px;
            color: #ffffff;
            font-weight: 400;
        }
     
    }
}
.phones {
    a:first-child{
        display: block;
    }
}
.newsletter{
    p{
        font-size: 14px;
        margin: 0;
        margin-bottom: 20px;
        color: #fff;
        
    }
}

.message {
    position: relative;
    display: inline-block;
    width: 100%;
    button {
        position: absolute;
        inset-inline-end: 25px;
        transform: translateY(-50%);
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input{
       width: 100%;
        transition: all linear .3s;
        height: 45px;
        max-width: 100%;
        border-radius: 22px;
        background-color: #f5f5f5;
        outline: none !important;
        border: 1px solid transparent;
        color: #000;
        padding: 0 25px 0 50px;
        font-size: 16px;
        font-weight: 400;
        &::-webkit-input-placeholder{
            font-size: 14px;
            color: #666666;
            font-weight: 400;
        }
    }
    .mail-icon{
        color:#000;
        font-size: 21px;
    }
}

.tasawk-sec{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    img{
        margin-inline-start: 5px;
        position: relative;
        z-index: 10;
    }
}


.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    p{
        margin-bottom: 0;
        font-size: 14px;
        color: #ffffff;
        text-transform: capitalize;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tasawk-logo{
        margin-inline-start: 8px;
    }
}
.footer-shape{
    position: absolute;
    top: 74px;
    left: -72px;
    z-index: 1;
}
.newsLetter-col{
    position: relative;
    z-index: 3;
}



@include max-992{
    .footer-shape{
        display: none;
    }
}


@include max-768 {
    .about , .vision , .services , .news , .clients {
        padding: 50px 0;
      }
      .tasawk-sec{
        margin-top: 5px;
      }
    .quick-drop{
        height: auto;
    }
    .copyright{
        display: block;
        p {
            font-size: 13px;
        }
    }
    .contact , .newsletter  , .quick-links {
        padding-bottom: 20px;
        ul li:first-child , .nested{
            padding-top: 10px;
        }
    }
    .quick-links ul li:first-child{
        padding-top: 5px;
    }
    .quick-links ul li a{
        font-size: 14px;
        color: #fff;
        &:hover{
            color: $main-color;
        }
    }
    .contact ul li{
        margin-bottom: 12px;
    }
    footer{
        padding: 50px 0 35px 0;
    }
    .quick-drop , .contact ul , .newsletter .nested{
        display: none;
    }
    .copyright{
        margin-top: 30px;
    }
    .message input{
        &::placeholder{
            font-size: 13px;
        }
    }
    .arrow-rotate::after {
        transform: translateY(-50%) rotate(180deg)  !important;
        top: 10px;
    }
   
    .quick-links ul li{
        font-size: 14px;
    }
    .contact ul li a{
        font-size: 14px;
    }
    .newsletter p{
        font-size: 14px;
    }
    footer .footer-title{
        margin-bottom: 0;
        text-transform: capitalize;
        cursor: pointer;
        font-size: 15px;
        position: relative;
        &::after {
            font-size: 15px;
            content: "\f107";
            transition: all linear .3s;
            font-family: "line Awesome free";
            position: absolute;
            inset-inline-end: 0;
            top: 0;
            

            
        }
    }
}


@include min-768 {

    html[dir="ltr"]{
        .footer-title{
            font-size: 18px;
        }
        .quick-links ul li a , .contact ul li a , .newsletter p{
            font-size: 15px;
        }
    }
}

