body {
  font-weight: 400;
  font-style: normal;
  font-family: "Tajawal";
  // overflow: hidden ;
 
}
*{
  margin: 0 ;
  padding: 0;
}
input[type="radio"]  {
  cursor: pointer;
}
.careerForm-sec {
  .myradio , .mycheckbox {
    label{
      cursor: pointer;
    }
  }
}


html[dir = "rtl"] {
  body{
    text-align: right;
  }
}
html[dir = "ltr"] {
  body{
    text-align: left;
  }
}

.btn_es {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none !important;
}

.consult-btn {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  padding: 0 28px;
  height: 43px;
  border-radius: 22px;
  background-color: #ddb930;
}
.know-btn{
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  padding: 0 27px;
  height: 45px;
  border-radius: 22px;
  background-color: rgba(221,185,48,0);
  border: 2px solid #ffffff;
  transition: all linear .2s;
  }

.consult-btn{
  transition: all linear .3s;
  position: relative;
}


@include min-768 {
  .know-btn , .about .know-btn{
    &:hover{
      background-color: #fff;
      color: #000;
      // border-color: $main-color;
    }
  }
}




.title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
}

figure {
  margin: 0;
}

img {
  image-rendering: -webkit-optimize-contrast !important;
}

.ul-es {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ancor-es{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.my-ancor{
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &:hover{
    text-decoration: none;
    color: #000;
  }
}



::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: $main-color;
}

::-webkit-scrollbar-track{
  background-color:  #000;
  
}


// back-up
.toTop{
  position: fixed;
  width: 40px;
  height: 40px;
  right: 10px;
  bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 24px 0px rgb(0 0 0 / 15%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  z-index: 9999;
  transition: all linear .3s;
  opacity: 0;
  visibility: hidden;
  &:hover{
background-color: $main-color;
  }
  .toTop-icon{
      font-size: 19px;
      color: #000;
  }
}

.showToTop{
  opacity: 1;
  visibility: visible;
}


#preloader{
  width: 100%;
  height: 100vh;
  position: fixed;
inset: 0;
  z-index: 99999 ; 
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear .8s;
  img{
    transition: all linear .3s;
    width: 250px;
  }
}



@include min-768 {
  .consult-btn{
    &:hover{
      background-color: #ffcb00;
    }
}
}


@include max-768 {
  .swiper-pagination-bullet{
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 3px;
  }
  .clients .swiper-pagination-bullet, .news .swiper-pagination-bullet{
    opacity: .3;
  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    padding-right: 20px;
    padding-left: 20px;
  }
  .title{
    font-size: 24px;
    margin-bottom: 35px;
  }
  html[dir="ltr"]{
    .message input{
      padding: 0 50px 0 25px;
    }
  }
}

@media screen and (min-width : 768px) and (max-width : 992px) {

.quick-drop{
  max-height: none;
}

.contact ul li a{
  font-size: 16px;
}
footer h4{
  font-size: 16px;
}
.message input{
  padding-left:  25px;
  padding-right: 25px;
}
}


@include min-1200{
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1170px;
  }
}

