.organization{
    padding: 55px 0 0 0px;
    height: 700px;
  
}
.organization-parent{
    position: relative;
    height: 700px;
}

.general-style{
    border-radius: 25px;
    font-size: 18px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin: auto;
    position: relative;
    border-radius: 22px;
}

.general-manager{
    height: 50px;
    background-color: $main-color;
    color: #000000;
    font-weight: 700;
    border-radius: 25px;
    &::after{
        content: "";
        position: absolute;
        width: 2px;
        background-color: #e6e6e6;
        height: 30px;
        bottom: -30px;
    }
}
.vice-presedent {
height: 43px;
background-color: rgba(221,185,48,0);
border: 2px solid #000000;
color: #000000;
margin-top: 30px;
&::after{
    content: "";
    position: absolute;
    width: 2px;
    background-color: #e6e6e6;
    bottom: -114px;
    height: 112px;
    inset-inline-end: 110px;
}
&::before{
    content: "";
    position: absolute;
    width: 2px;
    background-color: #e6e6e6;
    bottom: -230px;
    height: 228px;
    inset-inline-start: 116px;
}
}
.financial-director{
    background-color: #000000;
    color: #fff;
    height: 43px;
    margin-bottom: 15px;
    &::after{
        content: "";
        position: absolute;
        width: 43px;
        top: 50%;
        transform: translateY(-50%);
        height: 2px;
        background-color: #e6e6e6;
        inset-inline-start: -43px;
    }
}
.financial-holder{
    position: absolute;
    inset-inline-end: 160px;
    top: 154px;
}
.financial-director:nth-of-type(2){
   &::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 170px;
    background-color: #e6e6e6;
    inset-inline-start: 29px;
    top: 43px;
   }
}

.financial-branches{
    position: absolute;
    top: 288px;
    inset-inline-end: 88px;
}
.financial-branch{
    height: 43px;
    background-color: #e6e6e6;
    color: #000000;
    margin-bottom: 15px;
    &::after{
        content: "";
        position: absolute;
        width: 43px;
        height: 2px;
        background-color: #e6e6e6;
        top: 50%;
        transform: translateY(-50%);
        inset-inline-start: -43px;
    }
}

.sector-managers{
    position: absolute;
    inset-inline-start: 167px;
    top: 154px;
}

.sector-manager{
    background-color: #000000;
    color: #fff;
    margin-bottom: 15px;
    height: 43px;
    &::after{
        content: "";
        position: absolute;
        background-color: #e6e6e6;
        width: 43px;
        height: 2px;
        inset-inline-end: -43px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.sector-branches{
    position: absolute;
    bottom: 181px;
    inset-inline-start: 94px;
}
.sector-branch{
    background-color:#e6e6e6;
    color: #000000;
    height: 43px;
    margin-bottom: 15px;
    &::after{
        content: "";
        position: absolute;
        width: 43px;
        height: 2px;
        background-color: #e6e6e6;
        top: 50%;
        transform: translateY(-50%);
        inset-inline-end: -43px;
    }
}

.sector-manager:nth-of-type(4){
    position: relative;
    &::before{
     content: "";
     position: absolute;
     width: 2px;
     top: 43px;
     width: 2px;
    height: 112px;
    background-color: #e6e6e6;
    inset-inline-end: 29px;
    }
 }


    .plus-icon {
        display: inline-block;
        margin-inline-start: 15px;
        font-size: 20px;
        display: none;
    }


 //  media query

@include max-1200{ 
    .general-style{
        width: 250px;
        font-size: 16px;
    }
    .vice-presedent::before{
        inset-inline-start: 80px;
    }
    .vice-presedent::after{
        inset-inline-end: 89px;
    }
    .sector-managers{
        inset-inline-start: 131px;
    }
    .sector-branches{
        inset-inline-start: 58px;
    }
    .financial-holder{
        inset-inline-end: 140px;
    }
    .financial-branches{
        inset-inline-end: 68px;
    }
}



 @include max-992{
.organization{
    padding: 50px 0;
}
.financial-branches{
    padding-bottom: 20px;
}
    .financial-director-nested , .sector-manager-nested{
        cursor: pointer;
    }
    .financial-holder , .financial-branches , .sector-managers , .sector-branches{
        position: static;
    }
    .organization-parent , .organization{
        height: auto;
    }
    .general-style{
        width: 320px;
        margin-bottom: 20px;
        &::after{
            display: none;
        }
        &::before{
            display: none;
        }
    }
    .vice-presedent{
        margin-bottom: 30px;
    }
    .plus-icon {
            display: inline-block;
    }
    .financial-branches , .sector-branches{
        display: none;
    }
    .general-manager{
        margin-bottom: 0;
    }
 }



 @include max-768 {
    .general-style{
        width: 335px;
        max-width: 100%;
        
    }
    .general-manager{
        font-size: 18px;
    }
    .vice-presedent{
        font-size: 17px;
    }
 }

